.footer{

    background-color:rgb(156, 163, 163);
    max-width: 1350px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* position:absolute; */
    position: relative;
    justify-content: space-between;
    bottom: 0;

}

.footer p{
    color: #000;
}

.topic{
    color:black;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    /* text-align: center; */
    font-weight: bolder;
}

.left{
    width: 30%;
}




.footer .media a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
  color: rgb(18, 26, 32);
}

.footer .media a:hover{
  border-color:#2d2e41;
}

.footer{
    border-top: 1px solid #476a2e;
    box-shadow: 7px 7px #888888;
}