body{
    background-color: rgb(223, 230, 227);
}
img{
   /* object-fit: cover; */
   height: 100px;
   width: 150px;
   border: 0.25rem solid #c59d5f;
   border-radius: 5px;
   display: block;
}
.underline{
    width: 5rem;
    height: 0.25rem;
    background: #c59d5f;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
}
.filter-btn{
    background:transparent;
    border-color:transparent;
    font-size:1rem;
    text-transform:capitalize;
    margin:0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    color:#c59d5f;
    cursor:pointer;
    transition:all 0.3s linear;
    border-radius:5px;
}
.filter-btn:hover {
    background:#c59d5f;
    color:white;
  }
.ctg{
    text-align:center;
    margin-top:20px;
}
.food{
    /* width:90vw;
    margin:0 auto; */
    /* max-width:1170px; */
    display:grid;
    gap:3rem 2rem;
    justify-items:center;
    grid-template-columns: 200px 200px;
    margin-left: 15rem;
    margin-right: 15rem;
    margin: auto;
    column-gap: 15rem;
    margin-top: 20px;
    width:50%;
}
.menu-item{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
    margin-right: 70px;
    gap:1rem 2rem;
    width:700px;
    max-width:25rem;
}
.item-info header{
    display:flex;
    justify-content:space-between;
    border-bottom:0.5px dotted gray;
}
.price{
    color:#c59d5f;
}
.item-info h4{
    margin-bottom: 0.5rem;
    margin-top: 5px;
}
.mn{
    display: grid;
}