:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%);
}

.heading{
    height:3rem;
    background-color:rgb(121, 138, 138) ;
    margin-top:1rem;
    box-shadow: 2px 2px #888888;

}

.heading h1{
    text-align:center;
    font-size: x-large;
    color: black;
    padding-left:1.5rem ;
    padding-top: 0.5rem;
}
/* 



.outer{
    display: flex;
    border-bottom:0.5px dotted #cbd6ad;
    margin-top: 1rem;
    column-gap:13rem;
    justify-content: center;
}
.iconn{
  justify-content: center;
}



.cart span{
    display: flex;
    margin-top: 1.5rem;
    column-gap:13rem;
    justify-content: center;
    border-bottom:1px solid #23203b; 

}

.cart .item-title{
  display: block;
  width:150px;
  justify-content: center;
}

.item-title h4{
  text-align: center;
}
.cart-item {
    display:flex;
    margin-left: 1rem;
    column-gap:12rem;

}

span h4{
 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
}

.cart h4{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.cart h4{
  display: block;
  width:100px;
  text-align: center;
}

 */

.p-2 img{
    height:150px;
    width:150px;
    border: 0.25rem solid #c59d5f;
}

.totalprice {
    width: 100%;
    height: 100px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 30px;
    padding-left: 15px;
    background-color: #fff;
    margin-bottom: 1.5rem;
}

  .iconn i{
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    transition: all 0.3s ease;
    color: black;
}
.border-0{
  width: 250px;
}

.totalprice h4{
    display: block;
    font-size:1.25rem;
    color:black;
    font-weight: bold;
    line-height:40px;
}

.bttnn {
  /* display: inline-block; */
  background: var(--clr-primary-5);
  color:whitesmoke;
  background-color:#2C2E43;
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.25rem;
  margin-right:30px;
  float: right;
}
.bttnn:hover {
  background: var(--clr-primary-1);
}

/* .totalprice .bttnn{
   margin-top:50px;
} */


.inner-total{
  display: block;
  float: right;
  justify-content: center;
}

.inner-total .bttnn{
  margin: auto;
  text-align: center;
  justify-content:center;
}

.empty-cart-img{
  display: block;
  height:15rem;
  width:15rem;
  border: 0.1rem solid #161615;
  border-radius: 5px;
  margin: auto;
}

.empty-cart h2{
  font-family: var(--clr-grey-10);
  font-size: 1.5rem;
  margin-top:10px;
  text-align: center;
}
.empty-cart .bttnn{
   align-content: center;
   margin: auto;
   margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1rem;

}
.empty-cart{
  
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top:2rem;
}

@media (max-width:800px) {

  .p-2 img{
    height:110px;
    width:110px;
}
}

@media (max-width:500px) {

  .p-2 img{
    height:90px;
    width:90px;
}

.empty-cart h2{
  font-size: 1rem;
}
.totalprice h4{
  font-size: 0.8rem;
}
.totalprice .bttnn{
  font-size: 0.8rem;
  width: 123px;
}
}
