
.navbar-food{
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


  
/* h4{
    text-align:center;
    color: white;
    font-weight: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
} */
.ctime h4{
    color: black;
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

.ctime{
    margin-left:2px;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 16px 13px;
    text-decoration: none;
    font-weight: bold;
}
  
.li-head{
    display:flex;
    justify-content: right;
    float: right;
    color: black;
    margin-top: 1.1rem;
    margin-right: 2px;
    font-size: 1.25rem;
}


li a:hover {
    background-color:darkgrey;
}  


.navbar-food{
    /* background-color:rgb(203, 209, 209); */
    border-bottom: 1px solid #585e54;
    box-shadow: 4px 4px #888888;
    background:#f1f5f8;
    height: 6rem;
    margin-left: 0%;    
}

.links{
    display: flex;
    justify-content: space-between; 
    /* flex-direction: column-reverse; */
}

.logo_va{
  margin-left: 10rem;
}

.upper-right{
    display: flex;
    gap:3px;
    justify-content: right;
    margin-right: 2px;
}


.cart_badge{
    display: flex;
     width:30px;
     height:30px;
     background: #dad4d4;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: 1.25rem;
}

.cart_design{
    display: flex;
    gap:2px;
}

.cart_design i{
    align-items: center;
    justify-content: center;
    padding-top:5px;
}

.hamburger_menu{
    width: 30px;
    height:30px;
    margin-top:1rem;
    margin-right:0.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.hamburger_menu div{
    width: 90%;
    height: 2px;
    background:black;
}

@media(max-width:960px){
    .li-head{
        display: none;
    }

    .hamburger_menu{
        display:flex;
    }
    
    .logo_va{
        margin-left: 2rem;
    }
}