body{
    background-color: cyan;
    text-align: center;
}

.list{
 display: block;
 background-color: azure;
 border-radius: 5px;
 resize: both;
 overflow:auto;
 margin-left: 200px;
 margin-right: 200px;
 margin-bottom: 20px;
}

.blist{
    background-color: darkkhaki;
    margin-left: 180px;
    margin-right: 180px;
}
h1{
   
    font-family: 'Courier New', Courier, monospace;
}
h4{
   
    font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}